.base-color-bg{
  background-color: #f9fafe;  /*#ffd700*/
}
.base-color-text1{
  color: #264358;
}
.base-color-text2{
  color: #eb5a46;
}

.center{
  margin-left: auto;
  margin-right: auto;
}
button{
  cursor: pointer;
}
.button:hover{
  color: white;
  background-color: #eb5a46;
}
input:focus{
  outline: 1px solid #264358;
}