@font-face {
  font-family: Neue-Einstellung;
  src: url('./assets/fonts/Hanken Design Co - Neue Einstellung Regular.otf');
}
@font-face {
  font-family: Neue-Einstellung-bold;
  src: url('./assets/fonts/Hanken Design Co - Neue Einstellung Bold.otf');
}
@font-face {
  font-family: Neue-Einstellung-light;
  src: url('./assets/fonts/Hanken Design Co - Neue Einstellung Light.otf');
}

body{
  margin: 0;
  font-family: Neue-Einstellung; 
}

.head{
  font-family: Neue-Einstellung-bold; 
}
.light{
  font-family: Neue-Einstellung-light; 
}
/* body { */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
/* } */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
