@keyframes unlike {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-50px);
        opacity: 0;
    }
}

.content{
    font-family: sans-serif; 
}
.comment:hover{
    content: url('../assets/icons/comment-fill.svg');
}
.unlike{
    position: absolute;
    top: 17px;
    z-index: 20;
    opacity: 0;
    pointer-events: none;
}
.fly{
    animation: unlike 1s ease-in-out forwards;
}