.login{
    border: 1px solid #3870676b;
    border-radius: 5px;
}
.google{
    border-style: none ;
    border: 1px solid #3870676b;
    border-radius: 100px;
}
.google:hover{
    background-color: #3870676b;
}
.login-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
}